div(id="#{name}", style="height: 100px;")
script(type='text/javascript').
  $.jqplot("#{name}", #{items}, {
    axes: {
      xaxis: {
        ticks: [[#{xticks.startVal}, "#{xticks.startText}"], [#{xticks.finishVal}, "#{xticks.finishText}"]]
      },
      yaxis: {
        ticks: [[0, "0"], [5, "5"]]
      },

    },
    seriesDefaults: {
      color:'#5FAB78',
      showMarker: false,
      shadow: false,
    },
    grid: {
      drawGridLines: false,
      borderWidth: 0,
      shadow: false
    },
  });
